---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-sidecar-provider
data:
  provider.yaml: |-
    apiVersion: 1
    providers:
      - name: sidecar
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        allowUiUpdates: false
        options:
          path: /var/lib/grafana/dashboards
          foldersFromFilesStructure: true
