---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pihole-exporter
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: pihole-exporter
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      pihole-exporter:
        containers:
          app:
            image:
              repository: ghcr.io/osnabrugge/pihole-exporter
              tag: v1.2.0@sha256:f20c43161d73848408ef247f0ec7111b19fe58ffebc0cbcaa0d2c8bda4967268
            env:
              PORT: &port 9617
            envFrom:
              - secretRef:
                  name: *app
            resources:
              requests:
                cpu: 15m
              limits:
                memory: 60M
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 60m
            scrapeTimeout: 1m
