---
# yaml-language-server: $schema=http://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pihole-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: pihole-exporter
  values:
    controllers:
      pihole-exporter:
        containers:
          app:
            image:
              repository: ekofr/pihole-exporter
              tag: v1.2.0@sha256:242c53ef3c24b88fcbe8184390b456d05604bd50de5732ca3fd3eb24395585b3
            env:
              PORT: &port 9617
            envFrom:
              - secretRef:
                  name: *app
            resources:
              requests:
                cpu: 15m
              limits:
                memory: 60M
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 60m
            scrapeTimeout: 1m
