---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
spec:
  instances: 3
  # renovate: datasource=docker depName=ghcr.io/cloudnative-pg/postgresql
  imageName: ghcr.io/cloudnative-pg/postgresql:18.0
  affinity:
    enablePodAntiAffinity: true #default value
    topologyKey: kubernetes.io/hostname #default value
    podAntiAffinityType: required #default value
  primaryUpdateStrategy: unsupervised
  storage:
    size: 15Gi
    storageClass: openebs-hostpath
    resizeInUseVolumes: True
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true
  postgresql:
    parameters:
      max_connections: "200"
      shared_buffers: 256MB

  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters: &pluginparams
        barmanObjectName: garage
        serverName: postgres-v1

  # ### for initial setup from raw ###
  bootstrap:
    initdb:
      # set up 'default' db/owner
      database: default
      owner: default
      secret:
        name: default

  # bootstrap:
  #   recovery:
  #     source: source
  #     # recoveryTarget:                         # If not present, latest
  #     #   targetTime: "2025-03-05 00:00:00+00"  # RFC3339 format

  externalClusters:
    - name: source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters: *pluginparams

  resources:
    requests:
      cpu: 500m
    limits:
      hugepages-2Mi: 1Gi
      memory: 2Gi

  monitoring:
    enablePodMonitor: true

  nodeMaintenanceWindow:
    inProgress: false
    reusePVC: true
