---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tdarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    controllers:
      tdarr:
        containers:
          app:
            image:
              repository: ghcr.io/haveagitgat/tdarr
              tag: 2.51.03
            env:
              TZ: Europe/Amsterdam
            resources:
              requests:
                memory: 1.5Gi

          node:
            image:
              repository: ghcr.io/haveagitgat/tdarr_node
              tag: 2.51.03
              pullPolicy: IfNotPresent
            env:
              - name: nodeID
                valueFrom:
                  fieldRef:
                    fieldPath: spec.nodeName
              - name: serverIP
                value: localhost
              - name: serverPort
                value: &server 8266
            resources:
              requests:
                memory: 1Gi
                cpu: 1000m
              limits:
                memory: 2Gi
    service:
      app:
        controller: tdarr
        type: LoadBalancer
        ports:
          http:
            port: &ui 8265
          server:
            enabled: true
            protocol: TCP
            port: *server

    route:
      app:
        hostnames: ["{{ .Release.Name }}.rphilipsen.nl"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: rphilipsen-https
        rules:
          - backendRefs:
              - name: *app
                port: *ui

    persistence:
      config:
        enabled: true
        existingClaim: tdarr
        advancedMounts:
          tdarr:
            app:
              - path: /app/server
                subPath: server
            node:
              - path: /app/configs
                subPath: config
      data:
        existingClaim: media-nfs

      cache:
        type: emptyDir
        globalMounts:
          - path: /cache