apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-configmap
  namespace: default
data:
  nginx.conf: |
    events {
        multi_accept       on;
        worker_connections 65535;
    }

    http {
        charset                utf-8;
        sendfile               on;
        tcp_nopush             on;
        tcp_nodelay            on;
        server_tokens          off;
        log_not_found          off;
        types_hash_max_size    2048;
        types_hash_bucket_size 64;
        client_max_body_size   16M;

        # MIME
        include                mime.types;
        default_type           application/octet-stream;

        # Logging
        access_log  /var/log/nginx/access.log combined buffer=512k flush=1m;
        error_log   /var/log/nginx/error.log warn;

        # Set the DNS resolver to the Kubernetes DNS service
        resolver kube-dns.kube-system.svc.cluster.local valid=30s;

        server {
            listen	8080;
            listen	[::]:8080;
            server_name www.${SECRET_DOMAIN} ${SECRET_DOMAIN};

            proxy_read_timeout 10;

            location / {
                # If the request is for "/", proxy to index.html in the S3 path
                if ($uri = "/") {
                    rewrite ^ /index.html break;
                }

                # Proxy all requests to S3
                proxy_set_header Host $http_host;
                proxy_pass http://minio.database.svc.cluster.local:9000/static/${SECRET_DOMAIN}$uri;
            }
      } # end server
    } # end http
