apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-configmap
  namespace: default
data:
  nginx.conf: |
    events {
        multi_accept       on;
        worker_connections 65535;
    }

    http {
      charset                utf-8;
      sendfile               on;
      tcp_nopush             on;
      tcp_nodelay            on;
      server_tokens          off;
      log_not_found          off;
      types_hash_max_size    2048;
      types_hash_bucket_size 64;
      client_max_body_size   16M;

      # MIME
      include                mime.types;
      default_type           application/octet-stream;

      # Logging
      access_log  /var/log/nginx/access.log combined buffer=512k flush=1m;
      error_log   /var/log/nginx/error.log warn;

      # Set the DNS resolver to the Kubernetes DNS service (use ClusterIP to ensure nginx accepts it)
      # kube-dns DNS name can be problematic in the 'resolver' directive; prefer the ClusterIP of kube-dns
      resolver 10.43.0.10 valid=30s;

      upstream s3_backend {
        server garage.database.svc.cluster.local:3902;
      }

      server {
        listen	8080;
        listen	[::]:8080;
        server_name www.rphilipsen.nl rphilipsen.nl;

        proxy_read_timeout 10;

        location / {
          # If the request is for "/", proxy to index.html in the S3 path
          if ($uri = "/") {
            rewrite ^ /index.html last;
          }

          proxy_pass http://s3_backend;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header Host $http_host;
          # Disable buffering to a temporary file.
          proxy_max_temp_file_size 0;
        }
      } # end server

      server {
        listen	8080;
        listen	[::]:8080;
        server_name www.trees100.nl trees100.nl;

        proxy_read_timeout 10;

        location / {
          # If the request is for "/", proxy to index.html in the S3 path
          if ($uri = "/") {
            rewrite ^ /index.html last;
          }
          proxy_pass http://s3_backend;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header Host $http_host;
          # Disable buffering to a temporary file.
          proxy_max_temp_file_size 0;
        }
      }

      server {
        listen 8080;
        listen [::]:8080;
        server_name www.philipsen.it philipsen.it;
        proxy_read_timeout 10;
        location / {
          if ($uri = "/") {
            rewrite ^ /index.html last;
          }
          proxy_pass http://s3_backend;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header Host $http_host;
          # Disable buffering to a temporary file.
          proxy_max_temp_file_size 0;
        }
      }
    } # end http
