apiVersion: batch/v1
kind: CronJob
metadata:
  name: renovate
spec:
  schedule: "0/10 * * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: renovate
              # Update this to the latest available and then enable Renovate on
              # the manifest
              image: renovate/renovate:42.9.0
              # Environment Variables
              env:
                - name: LOG_LEVEL
                  value: info
              envFrom:
                - secretRef:
                    name: renovate-secret
          restartPolicy: OnFailure
