---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/volsync.backube/replicationsource_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: "${APP}"
  annotations:
    volsync.backube/skip-source-check: "true"
spec:
  sourcePVC: "${VOLSYNC_CLAIM:=${APP}}"
  trigger:
    schedule: "0 * * * *"
  kopia:
    copyMethod: "${VOLSYNC_COPYMETHOD:=Snapshot}"
    repository: "${APP}-volsync-secret" # name of the secret created by the ExternalSecret
    # storage parameters
    volumeSnapshotClassName: "${VOLSYNC_SNAPSHOTCLASS:=longhorn-snapshot}"
    storageClassName: "${VOLSYNC_STORAGECLASS:=longhorn-snapshot}"
    accessModes:
      - "${VOLSYNC_ACCESSMODES:=ReadWriteOnce}"
    # cache parameters
    cacheCapacity: "${VOLSYNC_CACHE_CAPACITY:=5Gi}"
    cacheStorageClassName: "${VOLSYNC_CACHE_SNAPSHOTCLASS:=openebs-hostpath}"
    cacheAccessModes:
      - "${VOLSYNC_CACHE_ACCESSMODES:=ReadWriteOnce}"
    compression: zstd-fastest
    moverSecurityContext:
      runAsUser: ${VOLSYNC_PUID:=568}
      runAsGroup: ${VOLSYNC_PGID:=568}
      fsGroup: ${VOLSYNC_PGID:=568}
    parallelism: 2
    retain:
      hourly: 24
      daily: 7
