---
originRequest:
  matchSNItoHost: true

ingress:
  - hostname: rphilipsen.nl
    service: &svc https://external.network.svc.cluster.local
  - hostname: "*.rphilipsen.nl"
    service: *svc
  - service: http_status:404
