# define your template in a config map
apiVersion: v1
kind: ConfigMap
metadata:
  name: kopia-config-tpl
data:
  repository.config: |
    {
      "storage": {
        "type": "filesystem",
        "config": {
          "path": "/repository"
        }
      },
      "hostname": "volsync",
      "username": "volsync",
      "description": "volsync",
      "enableActions": false
    }
