---
# yaml-language-server: $schema=https://www.authelia.com/schemas/latest/json-schema/configuration.json

# This is sort of a template file for Authelia configurations.
# It will be deployed as `ConfigMap` then used as template by `external-secrets` to create a `Secret`.
# `${var}` will be substituted by `fluxcd`, `\{\{.var\}\}` will be substituted by `external-secrets`.
theme: auto
server:
  address: tcp://0.0.0.0:9091
  disable_healthcheck: true
log:
  level: debug
# duo_api:
#   disable: false
#   hostname: "{{ .DUO_API_HOSTNAME }}"
#   integration_key: "{{ .DUO_API_INTEGRATION_KEY }}"
#   secret_key: "{{ .DUO_API_SECRET_KEY }}"
totp:
  disable: false
webauthn:
  disable: true
storage:
  encryption_key: "{{ .STORAGE_ENCRYPTION_KEY }}"
  postgres:
    address: tcp://{{ .POSTGRES_HOST }}:{{ .POSTGRES_PORT }}
    database: '{{ .POSTGRES_DBNAME }}'
    username: '{{ .POSTGRES_USER }}'
    password: '{{ .POSTGRES_PASSWORD }}'
ntp:
  address: 172.16.20.7
  version: 4
  max_desync: 3s
  disable_startup_check: false
  disable_failure: false
identity_validation:
  reset_password:
    jwt_secret: "{{ .RESET_PASSWORD_JWT }}"
authentication_backend:
  password_reset:
    disable: false
  refresh_interval: 1m
  ldap:
    implementation: lldap
    address: "{{ .LLDAP_HOST }}"
    timeout: 5s
    start_tls: false
    base_dn: dc=rphilipsen,dc=nl.
    user: uid=authelia_bind,ou=people,dc=rphilipsen,dc=nl
    password: "{{ .LLDAP_PASSWORD }}"
access_control:
  default_policy: deny
  networks:
    - name: internal
      networks:
        - 10.244.0.0/16
        - 10.10.10.0/24
        - 10.0.8.0/24
        - 192.168.10.0/24
        - 192.168.200.0/24
  rules:
    - domain: "*.rphilipsen.nl"
      policy: bypass
      networks:
        - internal
    - domain: "*.rphilipsen.nl"
      policy: two_factor
session:
  secret: "{{ .SESSION_SECRET }}"
  name: authelia_session
  expiration: 1h
  inactivity: 15m
  remember_me: 1M
  cookies:
    - domain: rphilipsen.nl
      authelia_url: https://auth.rphilipsen.nl
      default_redirection_url: https://rphilipsen.nl
  redis:
    host: dragonfly.database.svc.cluster.local
regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m
identity_providers:
  oidc:
    hmac_secret: "{{ .OIDC_HMAC_SECRET }}"
    claims_policies:
      default:
        id_token:
          - rat
          - groups
          - email
          - email_verified
          - alt_emails
          - preferred_username
          - name
    scopes: {}
    cors:
      endpoints:
        - authorization
        - token
        - revocation
        - introspection
      allowed_origins_from_client_redirect_uris: true
    clients: []
      # - client_id: grafana
      #   client_name: Grafana
      #   client_secret: "$${GRAFANA_OAUTH_CLIENT_SECRET_DIGEST}"
      #   public: false
      #   authorization_policy: two_factor
      #   pre_configured_consent_duration: 1y
      #   scopes:
      #     - "openid"
      #     - "profile"
      #     - "groups"
      #     - "email"
      #   redirect_uris:
      #     - "https://grafana.rphilipsen.nl/login/generic_oauth"
      #   token_endpoint_auth_method: client_secret_post
      #   userinfo_signed_response_alg: none
