---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
  - ../../components/common
resources:
# Common
  - ./cloudnative-pg/ks.yaml
# Home Automation
  - ./esphome/ks.yaml
  - ./vernemq/ks.yaml
# - ./matter-server/ks.yaml
# Other
  - ./nginx-static/ks.yaml
  - ./restfox/ks.yaml
  - ./renovate/ks.yaml
  - ./dragonfly/ks.yaml
