---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prowlarr
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: prowlarr-secret
    template:
      engineVersion: v2
      data:
        PROWLARR__AUTH__APIKEY: "{{ .PROWLARR_API_KEY }}"
        PROWLARR__POSTGRES__HOST: pooler.database.svc.cluster.local
        PROWLARR__POSTGRES__PORT: "5432"
        PROWLARR__POSTGRES__USER: "{{ .PROWLARR_POSTGRES_USER }}"
        PROWLARR__POSTGRES__PASSWORD: "{{ .PROWLARR_POSTGRES_PASSWORD }}"
        PROWLARR__POSTGRES__MAINDB: "prowlarr"
  dataFrom:
    - extract:
        key: prowlarr
