---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app radarr
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: onepassword-connect
      namespace: external-secrets
    - name: cloudnative-pg-cluster
      namespace: default
    - name: longhorn
      namespace: storage
  interval: 30m
  path: ./kubernetes/apps/media/radarr/app
  postBuild:
    substitute:
        APP: *app
        VOLSYNC_CAPACITY: 5Gi
        NAMESPACE: media
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  timeout: 5m
  wait: false
