---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kanidm
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kanidm
  values:
    defaultPodOptions:
      securityContext:
        seccompProfile:
          type: RuntimeDefault

    controllers:
      *app :
        type: statefulset

        pod:
          securityContext:
            runAsUser: 999
            runAsGroup: 999
            runAsNonRoot: true
            fsGroup: 999
            fsGroupChangePolicy: "OnRootMismatch"

        initContainers:
          01-init-kanidm-admin-password:
            command:
              - /bin/sh
              - -c
              - "[ -s /data/kanidm.db ] || /sbin/kanidmd recover-account -c /data/server.toml admin"
            image:
              repository: docker.io/kanidm/server
              tag: 1.8.0@sha256:bac174bc0e2e05004c00d51f1bab49c3a8327c01a16607b71e097ee4365a39f8
            securityContext:
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: "10m"
              limits:
                memory: "150Mi"

        containers:
          app:
            image:
              repository: docker.io/kanidm/server
              tag: 1.8.0@sha256:bac174bc0e2e05004c00d51f1bab49c3a8327c01a16607b71e097ee4365a39f8
            env:
              KANIDM_ADMIN_BIND_PATH: "/var/run/kanidmd.sock"
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /status
                    port: &port 8443
                    scheme: HTTPS
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probe
            resources:
              limits:
                cpu: 50M
                memory: 100Mi
              requests:
                cpu: 10m
                memory: 50Mi
            securityContext:
              capabilities:
                drop:
                  - ALL

      provision:
        pod:
          securityContext:
            runAsUser: 999
            runAsGroup: 999
            runAsNonRoot: true
            fsGroup: 999
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/m00nwtchr/kanidm-provision
              tag: 1.3.0@sha256:7d7488f26e80f6b8ff6222fec614d7ae3334f40ba97e04913dbef043bea4f004
            env:
              KANIDM_INSTANCE: "https://idm.rphilipsen.nl"
              KANIDM_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: kanidm-token
                    key: token
            securityContext:
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: *app
        ports:
          https:
            port: 443
            targetPort: *port
          ldaps:
            port: 636
            targetPort: 3636

    route:
      app:
        #        kind: TLSRoute
        hostnames: ["idm.rphilipsen.nl"]
        parentRefs:
          - name: external
            namespace: network
            sectionName: https
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 443
    configMaps:
      config:
        enabled: true
        data:
          server.toml: |-
            domain = "idm.rphilipsen.nl"
            origin = "https://idm.rphilipsen.nl"
            tls_chain = "/certs/fullchain.pem"
            tls_key = "/certs/privkey.pem"
            role = "WriteReplica"
            log_level = "info"
            bindaddress = "[::]:8443"
            ldapbindaddress = "[::]:3636"
            trust_x_forward_for = true
            db_path = "/data/kanidm.db"
            db_fs_type = "other"

    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          *app :
            app:
              - path: /data

      config:
        enabled: true
        type: configMap
        name: "kanidm-config"
        globalMounts:
          - subPath: "server.toml"
            path: "/data/server.toml"
            readOnly: true

      certs:
        type: secret
        name: kanidm-tls
        defaultMode: 0400
        advancedMounts:
          *app :
            app:
              - path: /certs

      empty:
        type: emptyDir
        globalMounts:
          - path: /var/run

      icon-cache:
        suffix: "icon-cache"
        size: 1Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          provision:
            app:
              - path: /data/icons

    rbac:
      roles:
        kanidm-write-secret:
          type: ClusterRole
          rules:
            - apiGroups: [""]
              resources: ["secrets"]
              verbs: ["create", "patch"]
        kanidm-read-cm:
          type: Role
          rules:
            - apiGroups: [""]
              resources: ["configmaps"]
              verbs: ["get", "list", "watch"]
      bindings:
        kanidm-write-secret:
          type: ClusterRoleBinding
          roleRef:
            identifier: kanidm-write-secret
          subjects:
            - identifier: *app
        kanidm-read-cm:
          type: RoleBinding
          roleRef:
            identifier: kanidm-read-cm
          subjects:
            - identifier: *app

    serviceAccount:
      *app : {}
