---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: jellyseer
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: jellyseerr-secret
    template:
      engineVersion: v2
      data:
        DB_TYPE: 'postgres'
        DB_HOST: &dbHost postgres-rw.database.svc.cluster.local
        DB_PORT: "5432"
        DB_USER: &dbUser "{{ .JELLYSEERR_POSTGRES_USER }}"
        DB_PASS: &dbPass "{{ .JELLYSEERR_POSTGRES_PASSWORD }}"
        DB_NAME: &dbName jellyseerr
        DB_LOG_QUERIES: 'false'
        DB_USE_SSL: 'false'
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: jellyseerr
