apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app tdarr
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/media/tdarr/app
  dependsOn:
    - name: longhorn
      namespace: storage
  components:
    - ../../../../components/volsync
  postBuild:
    substitute:
        APP: *app
        VOLSYNC_CAPACITY: 5Gi
        NAMESPACE: media
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  interval: 30m
  timeout: 5m
